.body {
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.main-container {
  width: 600px;
}

.screen {
  display: flex;
  background-color: #858693;
  justify-content: flex-end;
  padding: 2% 1%;
}

.cal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #e0e0e0;
}

.lastrow {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.color {
  background-color: #f39148;
}

.keypad {
  padding: 5%;
  border: 1px solid #d1d1d1;
}

.alert {
  color: #e0e0e0;
}

.quote-box {
  color: #e0e0e0;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 8%;
  padding: 0 2%;
}

.quote-box > p {
  margin: 1% 0;
}

.quote-box > h3 {
  margin: 1% 0;
}
