* {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 1rem;
  background-color: #1110108a;
}

a {
  color: #e0e0e0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #e0e0e0;
}

.home-container {
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #e0e0e0;
}

.main-container {
  margin: 5% 15%;
}

.screen {
  display: flex;
  background-color: #858693;
  justify-content: flex-end;
  padding: 2% 1%;
}

.cal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #e0e0e0;
}

.lastrow {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.color {
  background-color: #f39148;
}

.keypad {
  padding: 5%;
  border: 1px solid #d1d1d1;
}

.alert {
  color: #e0e0e0;
}

.quote-box {
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 10%;
  padding: 0 2%;
}

.quote-box > p {
  margin: 1% 0;
  text-align: center;
}

.quote-box > h3 {
  margin: 1% 0;
}
